.card{
    margin-top: 10%;
    background-color: rgb(201, 199, 199);
    border-radius: 0;
    box-shadow: 5px 5px 15px black;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.card:hover{
    background: rgb(113, 134, 253);
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 15px purple;
}

form{
    margin-top: 30px;
    margin-bottom: 30px;
}

.admin{
    text-align: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 576px) { 
    .card{
        margin-top: 50%;
    }
 }