<div class="row">
    <div class="card marks">
        <div class="card-body">
          <h5 class="card-title">Hi, Sudeshna</h5>
          <h6 class="card-subtitle mb-2 text-muted">Subject: English Literature</h6>
          
          <hr>
          
          <div class="row">
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>First Name:</strong> Sudeshna</label>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Middle Name:</strong> Kumari</label>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Last Name:</strong> Chakraborty</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Subjects:</strong> English Literature</label>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Classes:</strong> 6-A, 8-B, 10-C</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>DOB:</strong> 12/09/1974</label>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Blood Group:</strong> O+</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Email:</strong> sudeshna.eng@gmail.com</label>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Primary Phone:</strong> 8549627001</label>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Secondary Phone:</strong> 9658220314</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
                <label for="exampleInputEmail1"><strong>Address:</strong> Subhaspally, Ward No.7, Kharagpur</label>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>PIN:</strong> 721301</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Edit</button>
       
        </div>
      </div>

    <div class="card entity">
        <div class="card-body">
            <h5 class="card-title">Ongoing Topics:</h5>
              
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Class:</th>
                    <th scope="col">Topic:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>6-A</td>
                    <td>The Solitary Reaper: Questions</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>8-B</td>
                    <td>A Christmas Carol: Discussions</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>10-C</td>
                    <td>Julius Ceasar: Enactment</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

