<div class="row">
    <div class="card marks">
        <div class="card-body">
          <h5 class="card-title">Hi, Sudeshna</h5>
          <h6 class="card-subtitle mb-2 text-muted">Class: 8-A</h6>
          
          <hr>
          
          <div class="row">
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>First Name:</strong> Sudeshna</label>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Middle Name:</strong> Kumari</label>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Last Name:</strong> Chakraborty</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Father's Name:</strong> Tapas Chakraborty</label>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Mother's Name:</strong> Tapasi Chakraborty</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>DOB:</strong> 12/09/1995</label>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Blood Group:</strong> O+</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Email:</strong> sudeshna.eng@gmail.com</label>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Primary Phone:</strong> 8549627001</label>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>Secondary Phone:</strong> 9658220314</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
                <label for="exampleInputEmail1"><strong>Address:</strong> Subhaspally, Ward No.7, Kharagpur</label>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1"><strong>PIN:</strong> 721301</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Edit</button>
       
        </div>
      </div>

    <div class="card entity">
        <div class="card-body">
            <h5 class="card-title">Ongoing Topics:</h5>
              
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Subject:</th>
                    <th scope="col">Topic:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>English</td>
                    <td>The Solitary Reaper: Questions</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Maths</td>
                    <td>Differential Equaltion</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Science</td>
                    <td>Thermodynamics</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Hindi</td>
                    <td>Chiriya Kahani</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

<div class="row">
  
  <div class="card marks">
      <div class="card-body">
          <h5 class="card-title">Upcoming Events:</h5>
            
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Event:</th>
                  <th scope="col">Dates:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Republic Day Celebration: Parade, Culutural Event, Flag Hosting</td>
                  <td>26 january 2021</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Saraswati Puja: Cultural Events, Extracurrical Activities</td>
                  <td>15 February 2021</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Science Exhibition: Innovation Week, Science Project Competition</td>
                  <td>21 - 25 February 2020</td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>

  

<div class="card entity">
  <div class="card-body">
      <h5 class="card-title">Achievements:</h5>
        
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Year</th>
              <th scope="col">Name:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>2015</td>
              <td>1st in 100m Race</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>2017</td>
              <td>2nd in Science Exhibition</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>2019</td>
              <td>1st in Regional Mathematics Olympiad</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>

</div>



